.addTodoHeader {
    color: #2716a6;
    text-align: center;
    display: flex;

}

.addTodoBody {
    color: #101011;
    font-size: 16px;
}

.editTodoBody {
    color: #101011;
    font-size: 16px;
    font-style: inherit
}

.editTodoHeader {
    color: #c60e1a;
    text-align: center;
    display: flex;

}