.todo_card {
    width: 100%;
    min-height: 50px;
    border: 1px solid #febc30d5;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    color: rgb(250, 252, 252);
}

.todo_title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 0px;
    word-break: break-word;
}

.todo_text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    word-break: break-word;
}

.todo-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
}

.todo-btn {
    min-width: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Mobile Responsive Styles */
@media (max-width: 576px) {
    .todo_title {
        font-size: 20px;
    }

    .todo_text {
        font-size: 16px;
    }

    .todo-buttons {
        justify-content: center;
    }
}